<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.companyname.MailSender.Forms" android:installLocation="auto" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:targetSdkVersion="27" android:minSdkVersion="21" />
	<application android:label="MailSender.Forms.Android"></application>
</manifest>